@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-smrk0z');
	src:url('fonts/icomoon.eot?#iefix-smrk0z') format('embedded-opentype'),
		url('fonts/icomoon.woff?-smrk0z') format('woff'),
		url('fonts/icomoon.ttf?-smrk0z') format('truetype'),
		url('fonts/icomoon.svg?-smrk0z#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
	content: "\e600";
}

.icon-gear:before {
	content: "\e601";
}

.icon-cog2:before {
	content: "\e602";
}

.icon-settings:before {
	content: "\e603";
}

